<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings/>
	<connectionStrings>
  <add name="dbproyectoConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\centinela\Centinela.WinApp\bin\Debug\dbproyecto.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<compilation debug="true"/>
		<!--<customErrors mode="On" defaultRedirect="error/error.htm">
		  <error statusCode="403" redirect="error/error_noacceso.htm" />
      <error statusCode="404" redirect="error/error_noencont.htm" />
		</customErrors>-->
	</system.web>
</configuration>
