<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <system.web>
      <!--<customErrors mode="On" defaultRedirect="../error/error.htm">
        <error statusCode="403" redirect="../error/error_noacceso.htm" />
        <error statusCode="404" redirect="../error/error_noencont.htm" />
      </customErrors>-->
    </system.web>
</configuration>